body{
    background-color: rgb(255, 136, 0);
}

.cuadrado{
    width: 550px;
    height: 700px;
    background-color:whitesmoke;
    margin : 0 auto;
    margin-top: 1vh;
    /* transform: translateY(-50); */
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    opacity: 1;
}

.cabecera{
    width: 550px;
    height: 150px;
    background-color: white;
    position: relative;
    margin: 0 auto;
    top: 90px;
    transform: translateY(-50);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    opacity: 1;
}

.contenidocabecera{
    position: absolute;
    top: 50%;
    left: 30%;
    font-size: 50%;
}



.logo{
    width: 50px;
    height: 50px;
    position: relative;
    top: 80px;
    left: 130px;
}

.contenido{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-size: 10%;

}

h5{
    position: relative;
    top: 12%;
    left: 64%;
    margin-left: 50px;
    font-size: 15px;
}


h1{
    text-align: center;
    position: relative;
    top: -20%;
    margin-left: 50px;
    font-size: 40px;
    font-weight: 300;
}

.h11{
    text-align: center;
    position: relative;
    top: 15%;
    right: 50px;
    font-size: 30px;
    border-bottom: 1px solid rgb(138, 138, 138) ;
    width: 100%;
    font-weight: 100;
}


/* donde el usuario pone sus weas  */
p{
    position: relative;
    top: 31%;
    left: 10%;
    font-size: 20px;
    font-family:sans-serif ;
    color:#6b6b6b ;
}

.user{
    position: relative;
    top: 30%;
    left: 10%;
    height: 35px;
    width:80% ;
    border-radius: 5px;
    border-color: whitesmoke;
}

.password{
    position: relative;
    top: 30%;
    left: 10%;
    height: 35px;
    width:80% ;
    border-radius: 5px;
    border-color: whitesmoke;
}

.boton{
    position: relative;
    top: 35%;
    left: 10%;
    height: 70px;
    width: 80% ;
    border-radius: 5px;
    border-color: transparent;
    background-color:rgb(255, 136, 0);

}

.meterse{
    position: relative;
    top: 35%;
    left: 10%;
    height: 70px;
    width:80% ; 
    

}

.contenidoboton{
    position: relative;
    top: 35%;
    left: 1%;
    height: 70px;
    width: 100% ;
}

h6{
    position: absolute;
    left: 38% ;
    top: -42px;
    font-size: 35px;
    font-family: sans-serif;
    font-weight: 300;
    color: white;
}

/* Pie */

footer{
    position: relative;
    top: 38%;
    left: 25%;
    height: 70px;
    width: 100% ;
    text-decoration: underline;
    color: rgb(255, 136, 0);



}
